@model IEnumerable<Keyhanatr.Data.Domain.Products.ProductGroup>

@{
    ViewData["Title"] = "Index";
    Layout = "/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>لیست گروه ها</h1>

<p>
    <a asp-action="Create">ساخت گروه جدید </a>
</p>
<div class="container">
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.GroupTitle)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.GroupTitle)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ProductGroupId">ویرایش</a> |
                        <a asp-action="Details" asp-route-id="@item.ProductGroupId">جزییات</a> |
                        <a asp-action="Delete" asp-route-id="@item.ProductGroupId">حذف</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>

    </div>
</div>