@*@model List<Keyhanatr.Data.Domain.Products.ProductNavGroup>*@
@model IEnumerable<Keyhanatr.Data.Domain.Products.ProductNavGroup>
<h1>لیست گروه های ناوبری</h1>

<p>
    <a asp-action="Create">ساخت گروه ناوبری </a>
</p>
<div class="container">
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ImageName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BackColor)
                    </th>
                    <th>
                        عنوان گروه ناوبری
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td class="py-3 align-middle">
                        <img class="img-thumbnail" style="max-width: 150px"
                             src="/NavGroupImages/@item.ImageName" />
                    </td>
                    <td class="py-3 align-middle">@item.BackColor</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NavTitle)
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.NavGroupId">ویرایش</a> |
                        <a asp-action="Details" asp-route-id="@item.NavGroupId">جزییات</a> |
                        <a asp-action="Delete" asp-route-id="@item.NavGroupId">حذف</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>

    </div>
</div>