@model IEnumerable<Keyhanatr.Data.Domain.Slider.Slider>


    <section class="tns-carousel tns-controls-lg">
        <div class="tns-carousel-inner" data-carousel-options="{&quot;mode&quot;: &quot;gallery&quot;, &quot;responsive&quot;: {&quot;0&quot;:{&quot;nav&quot;:true, &quot;controls&quot;: false},&quot;992&quot;:{&quot;nav&quot;:false, &quot;controls&quot;: true}}}">
            @foreach (var item in Model)
            {
                <div class="px-lg-5" style="background-color: @item.BackColor; height: 550px; ">
                    <div class="d-lg-flex justify-content-between align-items-center ps-lg-4">
                        <img class="d-block order-lg-2 me-lg-n5 flex-shrink-0 " src="~/SliderImages/@item.ImageName" title="@item.Title" alt="@item.Titr">
                        <div class="position-relative mx-auto me-lg-n5 py-5 px-4 mb-lg-5 order-lg-1" style="max-width: 42rem; z-index: 10;">
                            <div class="pb-lg-5 mb-lg-5 text-center text-lg-start text-lg-nowrap">
                                <h3 class="h2 text-light fw-light pb-1 from-start">@item.Title</h3>
                                <h2 class="text-light display-5 from-start delay-1">@item.Titr</h2>
                                <p class="fs-lg text-light pb-3 from-start delay-2">@item.Text</p>
                                <div class="d-table scale-up delay-4 mx-auto mx-lg-0"><a class="btn btn-primary" href="#">خرید کنید<i class="ci-arrow-left ms-2 me-n1"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>}


<!-- Item-->
@*<div class="px-lg-5" style="background-color: #AA14F0; height: 550px; ">
        <div class="d-lg-flex justify-content-between align-items-center ps-lg-4">
            <img class="d-block order-lg-2 me-lg-n5 flex-shrink-0" src="img/home/hero-slider/60.png" alt="Women زنانه و بچگانه">
            <div class="position-relative mx-auto me-lg-n5 py-5 px-4 mb-lg-5 order-lg-1" style="max-width: 42rem; z-index: 10;">
                <div class="pb-lg-5 mb-lg-5 text-center text-lg-start text-lg-nowrap">
                    <h3 class="h2 text-light fw-light pb-1 from-bottom">تازه رسیده است!</h3>
                    <h2 class="text-light display-5 from-bottom delay-1">مجموعه تابستان عظیم</h2>
                    <p class="fs-lg text-light pb-3 from-bottom delay-2">لباس شنا ، تاپ ، شلوارک ، عینک آفتابی و موارد دیگر ...</p>
                    <div class="d-table scale-up delay-4 mx-auto mx-lg-0"><a class="btn btn-primary" href="shop-grid-ls.html">خرید کنید<i class="ci-arrow-left ms-2 me-n1"></i></a></div>
                </div>
            </div>
        </div>
    </div>*@
<!-- Item-->
@*<div class="px-lg-5" style="background-color: #3aafd2; height: 550px; ">
        <div class="d-lg-flex justify-content-between align-items-center ps-lg-4">
            <img class="d-block order-lg-2 me-lg-n5 flex-shrink-0" src="img/home/hero-slider/66.png" alt="Women زنانه و بچگانه">
            <div class="position-relative mx-auto me-lg-n5 py-5 px-4 mb-lg-5 order-lg-1" style="max-width: 42rem; z-index: 10;">
                <div class="pb-lg-5 mb-lg-5 text-center text-lg-start text-lg-nowrap">
                    <h3 class="h2 text-light fw-light pb-1 from-bottom">تازه رسیده است!</h3>
                    <h2 class="text-light display-5 from-bottom delay-1">مجموعه تابستان عظیم</h2>
                    <p class="fs-lg text-light pb-3 from-bottom delay-2">لباس شنا ، تاپ ، شلوارک ، عینک آفتابی و موارد دیگر ...</p>
                    <div class="d-table scale-up delay-4 mx-auto mx-lg-0"><a class="btn btn-primary" href="shop-grid-ls.html">خرید کنید<i class="ci-arrow-left ms-2 me-n1"></i></a></div>
                </div>
            </div>
        </div>
    </div>*@
<!-- Item-->
@*<div class="px-lg-5" style="background-color: #eba170; height: 550px; ">
        <div class="d-lg-flex justify-content-between align-items-center ps-lg-4">
            <img class="d-block order-lg-2 me-lg-n5 flex-shrink-0" src="img/home/hero-slider/444.png" alt="Men تجهیزات جانبی">
            <div class="position-relative mx-auto me-lg-n5 py-5 px-4 mb-lg-5 order-lg-1" style="max-width: 42rem; z-index: 10;">
                <div class="pb-lg-5 mb-lg-5 text-center text-lg-start text-lg-nowrap">
                    <h3 class="h2 text-light fw-light pb-1 from-top">تازه رسیده است!</h3>
                    <h2 class="text-light display-5 from-top delay-1">مجموعه تابستان عظیم</h2>
                    <p class="fs-lg text-light pb-3 from-top delay-2">لباس شنا ، تاپ ، شلوارک ، عینک آفتابی و موارد دیگر ...</p>
                    <div class="d-table scale-up delay-4 mx-auto mx-lg-0"><a class="btn btn-primary" href="shop-grid-ls.html">خرید کنید<i class="ci-arrow-left ms-2 me-n1"></i></a></div>
                </div>
            </div>
        </div>
    </div>*@