@model IEnumerable<Keyhanatr.Data.Domain.Products.ProductSelectedFeature>
@{
    ViewData["Title"] = "مقدار ویژگی ها";
}
<h2>ویژگی های محصول : @ViewBag.ProductName</h2>
<div class="form-group">
    <a asp-action="Create" class="btn btn-primary">ساخت یک ویژگی جدید</a>
</div>
<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.FeatureId)</th>
                <th>@Html.DisplayNameFor(model => model.Value)</th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductFeature.FeatureTitle</td>
                <td>@item.Value</td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.SelectedFeatureId">ویرایش ویژگی</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.SelectedFeatureId"
                       asp-route-productId="@item.ProductId">حذف ویژگی</a>
                </td>
            </tr>
        }
    </table>
</div>